---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <RateRequest xmlns="http://fedex.com/ws/rate/v13">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>bkjIgUhxdghtLw9L</Key>
              <Password>6p8oOccHmDwuJZCyJs44wQ0Iw</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>510087720</AccountNumber>
            <MeterNumber>119238439</MeterNumber>
            <Localization>
              <LanguageCode>es</LanguageCode>
              <LocaleCode>mx</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>crs</ServiceId>
            <Major>13</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <ReturnTransitAndCommit>true</ReturnTransitAndCommit>
          <RequestedShipment>
            <DropoffType>REGULAR_PICKUP</DropoffType>
            <PackagingType>YOUR_PACKAGING</PackagingType>
            <Shipper>
              <Address>
                <StreetLines/>
                <City/>
                <StateOrProvinceCode>XX</StateOrProvinceCode>
                <PostalCode>64000</PostalCode>
                <CountryCode>MX</CountryCode>
              </Address>
            </Shipper>
            <Recipient>
              <Address>
                <StreetLines/>
                <City/>
                <StateOrProvinceCode>XX</StateOrProvinceCode>
                <PostalCode>64000</PostalCode>
                <CountryCode>MX</CountryCode>
                <Residential>false</Residential>
              </Address>
            </Recipient>
            <ShippingChargesPayment>
              <PaymentType>SENDER</PaymentType>
            </ShippingChargesPayment>
            <RateRequestTypes>ACCOUNT</RateRequestTypes>
            <PackageCount>1</PackageCount>
            <RequestedPackageLineItems>
              <GroupPackageCount>1</GroupPackageCount>
              <Weight>
                <Units>KG</Units>
                <Value>6.5</Value>
              </Weight>
              <Dimensions>
                <Length>25</Length>
                <Width>28</Width>
                <Height>46</Height>
                <Units>CM</Units>
              </Dimensions>
            </RequestedPackageLineItems>
          </RequestedShipment>
        </RateRequest>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oracle-Dms-Rid:
      - '0'
      X-Csr-Log-Transaction-Id:
      - 9254b503-787b-48ec-badf-7553b907fa72
      X-Oracle-Dms-Ecid:
      - 0abaf7d5-de2a-4648-afd3-06465c305b26-03617938
      X-Csr-Elapsed-Millis:
      - '1613'
      Responsesslprotocol:
      - TLSv1.3
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><RateReply xmlns="http://fedex.com/ws/rate/v13"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>977</Code><Message>The
        shipdate has been changed for commitment purposes.</Message><LocalizedMessage>The
        shipdate has been changed for commitment purposes.</LocalizedMessage></Notifications><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>MMCA
        </DeliveryStation><CommitDetails><BrokerToDestinationDays>0</BrokerToDestinationDays><CommitMessages><Code>0</Code><Message>Bad
        input data</Message></CommitMessages><CommitMessages><Code>CM01</Code><Message>COMMODITY
        NOT FOUND</Message></CommitMessages><DocumentContent>NON_DOCUMENTS</DocumentContent></CommitDetails><DestinationAirportId>MTY</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>A1</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_SHIPMENT</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_SHIPMENT</RateType><RateScale>MX0001F1_87_YOUR_PACKAGING</RateScale><RateZone>1</RateZone><RatedWeightMethod>ACTUAL</RatedWeightMethod><CurrencyExchangeRate><FromCurrency>MXN</FromCurrency><IntoCurrency>USD</IntoCurrency><Rate>0.05</Rate></CurrencyExchangeRate><DimDivisor>139</DimDivisor><DimDivisorType>COUNTRY</DimDivisorType><FuelSurchargePercent>7.0</FuelSurchargePercent><TotalBillingWeight><Units>KG</Units><Value>6.5</Value></TotalBillingWeight><TotalBaseCharge><Currency>USD</Currency><Amount>6.51</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>6.51</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>0.46</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>6.97</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>1.12</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>8.09</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>8.09</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>0.46</Amount></Amount></Surcharges><Taxes><TaxType>VAT</TaxType><Description>Mexico
        freight value-added</Description><Amount><Currency>USD</Currency><Amount>1.12</Amount></Amount></Taxes></ShipmentRateDetail></RatedShipmentDetails><RatedShipmentDetails><ShipmentRateDetail><RateType>RATED_ACCOUNT_SHIPMENT</RateType><RateScale>MX0001F1_87_YOUR_PACKAGING</RateScale><RateZone>1</RateZone><RatedWeightMethod>ACTUAL</RatedWeightMethod><CurrencyExchangeRate><FromCurrency>MXN</FromCurrency><IntoCurrency>MXN</IntoCurrency><Rate>1.0</Rate></Currenc[...]
